/*ALL CUSTOM CSS GOES HERE*/

/*Makes everything transition smoothly with animation*/
* {
	transition: all 1s ease;
}

/*Custom Foundation code*/
.row {
  margin: 0 auto;
  max-width: 100%;
}

.hero {
	width: 100%;
	height: 100vh;
	background: url(https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}
.breather {
	width: 100%;
	height: 50vh;
	background: url(https://download.unsplash.com/photo-1434139240289-56c519f77cb0);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}
.hero h1 {
	text-align: center;
	color: black;
	position: relative;
	top:300px;
}

/*Gray blocks for wireframing*/
.block1 {
	display: block;
	width: 100%;
	height: 250px;
	background: gray;
	margin-top: 25px;
	margin-bottom: 25px;
	background-position: 50% 50%;
	background: url(http://placehold.it/300x250);
}
.block2 {
	display: block;
	width: 100%;
	height: 250px;
	background: gray;
	margin-top: 25px;
	margin-bottom: 25px;
	background-position: 50% 50%;
	background: url(http://placehold.it/300x250);
}
.block3 {
	display: block;
	width: 100%;
	height: 250px;
	background: gray;
	margin-top: 25px;
	margin-bottom: 25px;
	background-position: 50% 50%;
	background: url(http://placehold.it/300x250);
}
.block4 {
	display: block;
	width: 100%;
	height: 250px;
	background: gray;
	margin-top: 25px;
	margin-bottom: 25px;
	background-position: 50% 50%;
	background: url(http://placehold.it/300x250);
}

/*Hero Banner*/
.banner {
	display: block;
	width: 100%;
	height: 300px;
	background: gray;
	margin-top: 25px;
	margin-bottom: 25px;
	background-position: 50% 50%;
	background-image: url('http://placehold.it/1280x300');
}

/*Media Queries*/
@media only screen and (max-width: 960px) { 
	.banner {
		display: block;
		width: 100%;
		height: 300px;
		background-image: url('http://placehold.it/960x300');
		background-repeat: no-repeat;
	}
}
@media only screen and (max-width: 640px) { 
	.banner {
		display: block;
		width: 100%;
		height: 300px;
		background-image: url('http://placehold.it/640x300');
	}
}
@media only screen and (max-width: 320px) { 
	.banner {
		display: block;
		width: 100%;
		height: 150px;
		background-image: url('http://placehold.it/320x150');
	}
}


